<div id='bar'>
  <%= link_to 'clear', notes_url %>
  <%= form_with url: notes_url, method: :get do |f| %>
    <%= f.text_field :query %>
    <%= f.submit 'Search', name: nil %>
  <% end %>
</div>
<div id="notes">
  <% @notes.each do |note| %>
    <%= link_to note_url(note) do %>
      <%= render note %>
    <% end %>
  <% end %>
</div>