<div id='note--index'>
  <div id='bar'>
    <%= form_with url: notes_url, method: :get do |f| %>
      <%= link_to 'NEW NOTE', new_note_url %>
      <%= f.text_field :query, 
                       placeholder: "search",
                       value: params[:query]
      %>
      <%= f.submit 'SEARCH', name: nil %>
      <%= link_to 'CLEAR', notes_url %>
    <% end %>
  </div>
  <div id="notes">
    <% @notes.each do |note| %>
      <%= link_to note_url(note), class: 'note-outer' do %>
        <%= render note %>
      <% end %>
    <% end %>
  </div>
</div>