<%= form_with(model: user_session, url: log_in_path) do |form| %>
  <% if user_session.errors.any? %>
    <div style="color: red">
      <ul>
        <% user_session.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :username, style: "display: block" %>
    <%= form.text_field :username %>
  </div>

  <div>
    <%= form.label :password, style: "display: block" %>
    <%= form.text_field :password, type: 'password' %>
  </div>

  <div>
    <%= form.submit 'Log In' %>
    <%= link_to 'Create Account', new_user_path %>
  </div>
<% end %>
